body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: darkblue;
}

img {
  margin: 5px;
  height: 195px;
  width: 225px;
}

#navbrand {
  color: darkblue;
}
